<!doctype html>
<html>
<head>
    <title>Sneaker Mall</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <button>
            <a href="/cart"><%= total  %></a>
        </button>
    </div>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-shoe"></span>Shoe Options</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
  


<a href="/logout" class="btn btn-default btn-sm">Logout</a>


    <div class="view">
        <h3>Available Shoes</h3>
        <ul class="review">
            <% for(var i=0; i<shoes.length; i++) {%>
            <li class="message">
            <form action="/shop" method="post"> 
                <input name="brand" value="<%= shoes[i].brand %>"></input>
                <input name="model" value="<%= shoes[i].model %>"></input>
                <input name="colorway" value="<%= shoes[i].colorway %>"></input>
                <input name="price" value="<%= shoes[i].price %>"></input>
                <img src="<%= shoes[i].image_url %>">
                <select name="size">
                <% for(var s=0; s<shoes[i].sizes.length; s++) {%>
            
                 <option><%= shoes[i].sizes[s] %></option>

                    <% } %>
                </select>
               <button type="submit">Add to Cart</button>
            </form>
            </li>
            <% } %>
        </ul>
    </div>
</div>

<script src="main.js"></script>

</body>
</html>
